// ----------------------------------------------------------------
	// Buttons
// -----------------------------------------------------------------


// Basic

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.8rem 1rem;
	font-size: 1.4rem;
	color: $white !important;
	font-family: $sf-pro-text-bold;
	text-align: center;
	border-radius: 1rem;
	margin-top: 1rem;
	width: 100%;
	height: 4rem;
	border: none;

	&.blue {
		background: linear-gradient(to bottom right, $cub-scout-blue, $purple);

		&:hover {
			background: linear-gradient(to bottom right, lighten($cub-scout-blue, 3%), lighten($purple, 3%));
			cursor: pointer;
		}
		&:disabled {
			cursor: not-allowed;
			transform: none;
			box-shadow: none;
			opacity: 0.3;
		}
	}
}